<p style="color: green"><%= notice %></p>

<%= render @comment %>

<div>
  <%= link_to "コメントを編集", edit_comment_path(@comment) %> |
  <%= link_to "戻る", comments_path %>

  <%= button_to "コメントを削除する", @comment, method: :delete %>
</div>
